<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    text-align: center;
    font-family: Impact;
    font-size: larger;
}
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purse Analyzer</title>
    <link rel="icon" href="Logo4.png">
  </head>
  <body>
    <h1>Purse V1 (Manual entry)</h1>
    <form action="" method="POST">
      <div>
        <label for="Date">Date</label>
        <input type="datetime-local" name="date" id="date"></input>
      </div>
      <div>
        <label for="purseS">Purse Sell</label>
        <input type="text" id="purseS" name="purseS" />
      </div>
      <div>
        <label for="purseB">Purse Buy</label>
        <input type="text" id="purseB" name="purseB" />
      </div>
      <button type="submit">Submit</button>
    </form>

    <!-- Lien temporaire -->
    <nav>
      <a href="http://127.0.0.1:5500">Go back</a>
    </nav>
  </body>
</html>