<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    text-align: center;
    font-family: Impact;
    font-size: larger;
}
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purse Analyzer</title>
  </head>
  <body>
    <h1>Purse V2  (Semi auto entry)</h1>
    <form name="submitButton" action="" method="POST">
      <button type="submit" id="submit"oneclick="submitButton">Submit</button>
    </form>
<script>
  function submitForm() {
  var form = document.getElementsByName('submitButton')[0];
   form.submit();
   form.reset();  
   return false;
  };
</script>

    <!-- Lien temporaire -->
    <nav>
      <a href="https://sossur.000webhostapp.com">Go back</a>
    </nav>
  </body>
</html>
